{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Circle equations</h1>
    <p>
        <i>r = <i> <b>{{ r }}</b>
    </p>
    <p>
        <b>S = π * r<sup>2</sup> = π * r * r<i> <b>{{ S }}</b>
    </p>
    <p>
        <b>C = 2 * π * r <i> <b>{{ C }}</b>
    </p>
    <p>
        <b>V = 4/3 * π * r<sup>2</sup> <i> <b>{{ V }}</b>
    </p>
{% endblock %}