{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Spythagoras equations</h1>
    <p>
        <i>a = <i> <b>{{ a }}</b>
        <i>b = <i> <b>{{ b }}</b>
    </p>
    <p>
        <b>C = a² + b² = c² = <i> <b>{{ C }}</b>
    </p>
{% endblock %}