{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Circle equations</h1>
    <p>
        <i>r = <i> <b>{{ r }}</b>
    </p>
    <p>
        <i>S = π * r<sub>2</sub> =<i> <b>{{ π * r * r }}</b>
    </p>
    <p>
        <i>C = 2 * π * r =<i> <b>{{ 2 * π * r }}</b>
    </p>
    <p>
        <i>V = 4/3 * π * r<sub>2</sub> =<i> <b>{{ 4/3 * π * r * r }}</b>
    </p>
{% endblock %}