{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Circle equations</h1>
    <p>
        <i>r = <i> <b>{{ r }}</b>
    </p>
    <p>
        <b>S = Math.PI * r<sub>2</sub> = Math.PI * r * r<i> <b>{{ Math.PI * r * r }}</b>
    </p>
    <p>
        <b>C = 2 * Math.PI * r <i> <b>{{ 2 * Math.PI * r }}</b>
    </p>
    <p>
        <b>V = 4/3 * Math.PI * r<sub>2</sub> <i> <b>{{ 4/3 * Math.PI * r * r }}</b>
    </p>
{% endblock %}